

<nav class="navbar navbar-expand bg-primary">
  <div class="container">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
        <span>Colaboradores<a class="nav-link" routerLink="/colaboradores" routerLinkActive="active"> </a>
        </span>

      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>
            
            Inicio</span>
        </button>
       
       
      </mat-menu>
      </div>
  </nav>
