<mat-card class="example-card">
    <mat-card-header >
      <div  *ngIf="colaborador" mat-card-avatar class="example-header-image"></div>

      <mat-card-title>perfil </mat-card-title>
      <mat-card-subtitle>Colaborador</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Editar</button>     
    </mat-card-actions>
  </mat-card>
  